<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
  <a href="https://scholar.google.com/citations?user=MepRHRoAAAAJ&hl=en&oi=ao" itemprop="sameAs">
    <i class="ai ai-google-scholar ai-fw"></i> Google Scholar
  </a>
</li>

<li>
  <a href="https://www.researchgate.net/profile/Yang-Jiang-45?ev=hdr_xprf" itemprop="sameAs">
    <i class="ai ai-researchgate ai-fw"></i> ResearchGate
  </a>
</li>

